*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(223, 227, 230);
    padding: 20px 0px;
}


/* ************************************ Container ********************************** */

.container{
    display: flex;
    flex-direction: column;
    max-width: 820px;
    margin: 0px auto;
    padding: 0px 20px;
    gap: 40px;
}


/* ************************** Header ************************** */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

/* ********** logo *********** */
.logo{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.logo > img{
    height: 2.25rem;
}
#logo-text{
    font-size: 1.7rem;
    color: black;
    font-weight: bold;
}

/* ********** nav *********** */
header > nav{
    display: none;
    justify-content: space-between;
    gap: 1.5rem;
}
nav > a{
    color: rgb(93, 92, 92);
    font-size: 1.2rem;
    font-weight: bold;
    transition:  color 0.2s;
}
nav > a:hover{
    color: blue;
}

/* ********** contact *********** */
.contact-button{
    display: none;
    background-color: rgb(62, 62, 199);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}
.contact-button:hover{
    background-color: rgb(43, 43, 197);
}

/* ********** menu *********** */

.menu{
    height: 2rem;
    margin-right: 10px;
}



/* ************************** main ************************** */

.main-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* ********** main-content-text-box *********** */

.main-content-text-box{
    display: grid;
    gap: 1rem;
    align-items: center;
    text-align: center;
    animation: slide-from-left 1s ease-in-out 1s;
}

#main-box-text1{
    color: rgb(1, 1, 192);
    font-weight: 540;
}

#main-box-text3{
    color: rgb(84, 84, 84);
}

.main-box-buttons{
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

#start-now-button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgb(62, 62, 199);
    color: white;
}

#start-now-button:hover{
    background-color: rgb(43, 43, 197);
}

#take-tour-button{
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    background-color: rgb(58, 58, 65);
    color: white;
}

#take-tour-button:hover{
    background-color: rgb(39, 39, 44);
}

/* ********** main-content-image-box *********** */

.main-content-img-box{
    display: flex;
    justify-content: center;
}

#silicon-chip-img{
    border-radius: 1rem;
    width: 80vw;
    max-width: 450px;
    box-shadow: 1px 4px 8px rgb(125, 125, 125);
}


/* ************************** trusted by ************************** */

.trusted-by-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    animation: slide-from-left 1s ease-in-out 1s;
}


#trusted-by-box-title{
    font-size: 1.6rem;
}

#trusted-by-box-content{
    padding: 2rem 3rem;
    background-color: rgba(207, 209, 210, 0.667);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: 3rem;
}

.company-container{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.company-image{
    height: 1.2rem;
}

.company-name{
    color: #949090;
    font-weight: bold;
    font-size: 0.9rem;
}


/* ************************************ Competitive Advantage ********************************** */

.competitive-advantage{
    background-color: rgba(207, 209, 210, 0.667);
    padding: 1rem;
    margin-top: 2rem;
}

.competitive-advantage-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0px auto;
    text-align: center;
}

#competitive-advantage-heading{
    font-size: 1.7rem;
    font-weight: bold;
}


#competitive-advantage-description{
    color: gray;
    font-size: 0.9rem;
    padding: 0px 1rem;
}

.competitive-advantage-grid-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
}

#competitive-advantage-grid-card1{
    background-color: rgb(59, 139, 237);
}
#competitive-advantage-grid-card2{
    background-color: rgb(245, 78, 150);
}
#competitive-advantage-grid-card3{
    background-color: rgb(215, 182, 83);
}
#competitive-advantage-grid-card4{
    background-color: rgb(35, 186, 178);
}
#competitive-advantage-grid-card5{
    background-color: rgb(29, 201, 46);
}
#competitive-advantage-grid-card6{
    background-color: rgb(132, 96, 172);
}

.competitive-grid-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    padding: 1.1rem;
}

.competitive-grid-card-logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}

.competitive-grid-card-logo-box>img{
    height: 22px;
    width: 22px;
}


.competitive-grid-card-title{
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.competitive-grid-card-description{
    color: rgb(244, 237, 237);
    font-size: 0.9rem;
}



/* ************************* Animation *********************** */

@keyframes slide-from-left {
    from{
        opacity: 0;
        transform: translateX(-100vw);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


/* ************************************ Responsive ********************************** */

@media screen and (min-width:440px){
    .competitive-advantage-grid-box{
        grid-template-columns: 1fr 1fr;
    }

    #competitive-advantage-description{
        max-width: 550px;
    }
    .competitive-grid-card{
        max-width: 18rem;
    }
}

@media screen and (min-width:820px){
    header > nav{
        display: flex;
    }
    .contact-button{
        display: block;
    }
    .menu{
        display: none;
    }
    .container{
        max-width: 90%;
    }
    .main-content{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main-content-text-box{
        width: 45%;
        gap: 1.5rem;
        text-align: left;
    }
    .main-content-img-box{
        width: 45%;
    }

    .main-box-buttons{
        justify-content: flex-start;
    }

    #main-box-text2{
        font-size: 2.6rem;
    }

    #main-box-text3{
        padding-right: 2.5rem;
    }

    #silicon-chip-img{
        height: 60vh;
        width: 100%;
    }
    
    .trusted-by-box{
        margin-top: 20px;
    }

    #trusted-by-box-title{
        font-size: 2.3rem;
    }

    #trusted-by-box-content{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (min-width:1200px){
    html{
        font-size: 18px;
    }
    .container{
        max-width: 70%;
    }
}
